name: example
description: Demonstrates how to use the sbb_data_scanner plugin.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter

  sbb_data_scanner:
    path: ../

  # https://pub.dev/packages/sbb_design_system_mobile
  sbb_design_system_mobile: 4.2.0

  # https://pub.dev/packages/cupertino_icons
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  disable-swift-package-manager: true
