# Runs every night to check problems with stable flutter SDK & builds cache

name: nightly_build

on:
  workflow_dispatch:
  schedule:
    - cron: "40 3 * * *" # 03:40 am every day

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.x
          cache: true

      - name: flutter setup
        run: |
          flutter doctor -v
          flutter pub get

      - name: format check
        run: dart format -l 120 -o none --set-exit-if-changed .

      - name: test
        run: flutter test

      - name: Check publishable to pub.dev
        run: flutter pub publish --dry-run


  build-examples:
    needs: [ test ]
    uses: ./.github/workflows/example_app_build.yml
    with:
      flutter_sdks: '["3.35.x",""]'
