# Runs flutter unit tests, formatting test and CHANGELOG.md validation on every PR to main.

name: test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

# Ensure that new pushes/updates cancel running jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  validation:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.x
          cache: true

      - name: flutter setup
        run: |
          flutter doctor -v
          flutter pub get

      - name: format check
        run: dart format -l 120 -o none --set-exit-if-changed .

      - name: test
        run: flutter test

      - name: Check publishable to pub.dev
        run: flutter pub publish --dry-run

  package_scorer:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: axel-op/dart-package-analyzer@v3
        id: analysis
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}

  build-examples:
    needs: [ validation ]
    uses: ./.github/workflows/example_app_build.yml
    with:
      flutter_sdks: '["3.35.x"]'

